import { storyblokEditable, SbBlokData } from '@storyblok/react';

export interface I{{pascalCase name}} extends SbBlokData {
  // ~~readonly props here~~
}

const {{pascalCase name}} = ({ blok }: { blok: I{{pascalCase name}}}) => {
  const { } = blok;

  return (
    <section  {...storyblokEditable(blok)}>
      {/* ~~Component content here - remove classes above as necessary~~ */}
    </section>
  )
}

export default {{pascalCase name}};
