export interface I{{pascalCase name}} {
  // ~~readonly props here~~
}

const {{pascalCase name}} = ({props} : I{{pascalCase name}}) => (
  <section>
    {/* ~~Component content here - remove classes above as necessary~~ */}
  </section>
);

export default {{pascalCase name}};
